header {
  text-align: center;
}

h5 {
  font-size: 1.5rem;
  color: #424242;
  font-weight: bolder;
  font-style: italic;
  position: absolute;
  top: 1rem;
  right: 40%;
}

.col-3 {
  text-align: right;
}

.col-6 {
  margin-top: 3rem;
}

.col-9 {
  text-align: left;
}

.value {
  padding-right: 0.25rem;
}

.row p {
  margin-top: 8px;
  margin-bottom: 2px;
//  display: block;
//  white-space: nowrap;
//  overflow: hidden;
}

hr {
  margin: -45px auto 0px;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  box-shadow: 0 20px 10px -22px #9E9E9E;
  width: 110%;

  //border: 0;
  //border-top: 2px dotted #ddd;
  //position: absolute;
  //width: 95%;
  //margin-top: 2px;
  //margin-bottom: 0;
}

img  {
  border-radius: 1rem;
  padding-top: 0;
  margin-top: 2rem;
}

.eating-header {
  text-align: center;
}

.auxiliary-field {
  text-align: center;
}

.eating-block {
  border: 1px solid orange;
  border-radius: 1px;
}

.component-card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #BDBDBD;
  border-radius: 0.75rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  border-radius: 4px;
  border: 0.5px solid #BDBDBD;
  padding-right: 0.25rem;
  outline: none;
}

.bi {
  position: absolute;
  color: white;
  background-color: #EF5350;
  border-radius: 50%;
  top: 0.75rem;
  right: 0.75rem;
}

.bi:hover {
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
