header {
  text-align: center;
}

.col-3 {
  text-align: right;
}

.col-9 {
  text-align: left;
}

.row p {
  margin: 0;
}

img  {
  border-radius: 1rem;
  padding: 0;
}

.ration-info-wrapper {
  padding: 2rem;
}

.eating-header {
  text-align: center;
}

.auxiliary-field {
  text-align: center;
}

.eating-block {
  border: 1px solid orange;
  border-radius: 1px;
}


