<nav
  class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Ration Calculation</a>
  <button class="navbar-toggler"
          (click)="setWidth()"
          type="button"
          [attr.aria-expanded]="!isCollapse"
          aria-controls="navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="navbar-collapse"
    id="navbarSupportedContent"
    [ngbCollapse]="isCollapse">
    <ul class="navbar-nav col-lg-2 col-sm-8 col-md-4 col-8 sidenav">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['ration/1']">Сегодня</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['dishes']">Блюда</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['products']">Продукты</a>
      </li>
    </ul>
  </div>
</nav>

<div [ngClass]="{'content-wrapper-small': !isCollapse}" class="content-wrapper offset-lg-2 offset-md-4">
  <router-outlet></router-outlet>
</div>


