<nav
  class="navbar navbar-expand-md navbar-light bg-light fixed-top"
>
  <button class="navbar-toggler"
          (click)="setWidth()"
          type="button"
          [attr.aria-expanded]="!isCollapse"
          aria-controls="navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="app-header justify-content-between">
    <a class="navbar-brand" href="#">
      Ration Calculation
    </a>
    <a
      class="header-item"
      *ngIf="auth.isAuth()"
      href="#"
      (click)="logout($event)"
    >
      Выйти
    </a>
  </div>

  <div
    class="navbar-collapse"
    id="navbarSupportedContent"
    [ngbCollapse]="isCollapse">
    <ul class="navbar-nav col-lg-2 col-sm-8 col-md-3 col-8 sidenav">
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['ration/', dateStr]">Сегодня</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['dishes']">Блюда</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['products']">Продукты</a>
      </li>
    </ul>
  </div>
</nav>

<div [ngClass]="{'content-wrapper-small': !isCollapse}" class="content-wrapper offset-lg-2 offset-md-3">
  <router-outlet></router-outlet>
</div>


