<ng-template appRef></ng-template>

<p>Продукты</p>

<button
  type="button"
  (click)="showNewProduct()">Новый продукт
</button>

<div>
  <table border="1">
    <tr>
      <th>Название продукта</th>
      <th>Калорийность, ккал</th>
      <th>Белки, г</th>
      <th>Жиры, г</th>
      <th>Углеводы, г</th>
    </tr>
    <tr *ngFor="let product of products">
      <th>{{product.name}}</th>
      <th>{{product.calories}}</th>
      <th>{{product.proteins}}</th>
      <th>{{product.fats}}</th>
      <th>{{product.carbohydrates}}</th>
      <th *ngIf="product.verified">
        <button>
          edit
        </button>
      </th>
    </tr>
  </table>
</div>
