@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 1030;
}

.add-window {
  padding: 1rem;
  background: #fff;
  margin-top: 3rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-results {
  width: calc(100% - 30px);
  position: absolute;
  z-index: 1;
  border: 1px solid silver;
  background-color: orange;
}

.search-results :hover {
  background-color: green;
  cursor: default;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
